# For both client and server
node_modules/
*.log
.cache/
.DS_Store

# Client-specific
client/build/

# Server-specific
server/.env

google-cloud-sdk/
*.tar.gz
*.zip
*.bin
google-cloud-sdk/.install/.backup/bin/anthoscli
google-cloud-sdk-455.0.0-darwin-arm.tar.gz
